body {
    margin: 0;
}

.centre {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    background: #252525;
}

.formco {
    width: 80%;
    display: flex;
    margin: auto;
    height: 60vh;
    margin-top: 18vh;
}

.leform {
    display: inline-block;
    float: left;
    width: 44vw;
    height: 100%;
    background-color: #ffffff;
}

.titreco {
    margin-top: 8vh;
    padding-left: 4vw;
    color: #94988e;
    font-size: 2vh;
    font-family: serif;
    line-height: 0.3;
}

.imgco {
    display: inline-block;
    float: right;
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background-image: url(../image/join.jpg);
    background-size: cover;
}

.imgco img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.styleinput form {
    margin-top: 5vh;
    padding-left: 4vw;
}

input {
    width: 20vw;
    height: 3vh;
    font-size: 1vw;
    padding: 2vh;
    border: solid #ececec 2px;
}

.inp1 {
    margin-bottom: 2vh;
}

::-webkit-input-placeholder {
    color: #c2c2c4;
}

.buton {
    border: solid blue;
    display: inline-block;
    padding: 6px 12px;
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    text-align: center;
    transition: 0.5s;

}

.buton:hover {
    background-color: rgb(69, 158, 69);
    transition: 0.5s;
}

.retour {
    color: #94988e;
    margin-top: 8vh;
}

.retour a {
    color: #94988e;
    text-decoration: none;
}

.message {
    color: red;
    margin-bottom: 1vh;
}